index.*
types/*
date/*
data/*

*.iml
*.log
*.log.*
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
dist
tests/*.css
yarn.lock
package-lock.json
.vscode
.idea
node_modules/
.settings
npm-debug.log
examples/dist/
yarn-error.log
test/unit/coverage
